.collection-cover{
    height: 320px;
    width: 260px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
}
.grediant-bg{
    background: var(--black-shadow);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
}

.collection-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.collection-card-title{
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size: 18px;
    color: var(--primery-bg);
}
.collection-card-subtitle{
    display: flex;
    color:var(--primery-bg);
    position: absolute;
    left: 16px;
    bottom: 10px;
    font-size: 14px;
}